a {
    text-decoration: none;
    color: inherit;
}

select {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.g-title {
    font-weight: 400;
    font-size: 6.25vw;
    line-height: 115%;
    letter-spacing: 0.02em;

    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
    min-height: 6.25vw;

    span {
        // cubic-bezier(.88,1.73,.13,.8)
        transform: translateY(100%);
        transition: .6s cubic-bezier(.04,1.38,.66,1) transform;

        display: flex;
        line-height: 100%;
        height: 100%;
        min-height: fit-content;

        &.show { transform: translateY(0) }
    }
}

h4 {
    font-weight: 400;
    font-size: 1.388vw;
    line-height: 120%;

    text-transform: uppercase;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

input { padding: 0 }

input:not([type=checkbox]):not([type=radio]), textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input:focus, textarea:focus, button:focus { outline: none }

.none { display: none !important }

.scrollbar-track { display: none !important }

.basic__container {
    padding: 2.22vw 3.33333vw 0 5.55vw;
    display: flex;
    flex-direction: column;

    height: 100%;
}

.g-btn {
    text-transform: uppercase;
    margin-top: 0.2vw;

    display: flex;
    align-items: center;
    padding: 0;

    transition: .5s ease color;

    span {
        font-weight: 400;
        font-size: 0.972vw;
        line-height: 110%;

        padding: .3vw 0.55vw 0;
        display: flex;
        text-align: center;

        margin: auto 0;
    }
    
    &:hover { color: $cathedral }

    &::after, &::before {
        content: '';
        display: block;
        margin-left: auto;

        font-weight: 500;
        font-size: 1.38vw;
        line-height: 1;
    }

    &::before {
        content: '[';
    }

    &::after {
        content: ']';
    }
}

.g-input {
    input {
        background-color: transparent;
        border: none;
        width: 100%;
        
        padding: 0 0 1.111vw;
        font-weight: 400;
        font-family: 'SuisseIntl', sans-serif;
        font-size: 1.111vw;
        border-bottom: 0.1388vw solid #8D8D8B;
        
        &::placeholder {
            color: #ABAAA8;
            transition: .4s ease;
            opacity: 1;
        }

        &:focus {
            &::placeholder { opacity: 0 }
        }
    }

    &.g-input-error {
        input { border-color: #C3161C }
    }
}

// .g-input {
//     width: fit-content;
//     position: relative;

//     border-bottom: 2px solid #8D8D8B;
//     background-color: transparent;
//     transition: .4s;

//     input {
//         border: none;
//         background-color: transparent;
//         padding: 10px 30px 20px;

//         width: calc(100% - 60px);
//     }

//     label {
//         transition: .4s;
//         position: absolute;
//         top: 50%;
//         left: 30px;

//         transform: translateY(-50%);

//         font-size: 0.8em;
//         line-height: 160%;
//         color: #828A99;

//         text-overflow: clip;
//         cursor: text;
//         pointer-events: none;

//         @media (max-width: 400px) { font-size: 0.7em }
//     }

//     &:focus-within { border-color: greenyellow }

//     input:focus + label {
//         font-size: 10px;
//         line-height: 1;

//         padding: 10px;
//         top: 0;left: 20px;
//     }

//     &.input--filled {
//         label {
//             font-size: 10px;
//             line-height: 1;
    
//             padding: 10px;
//             top: 0;left: 20px;
//         }
//     }

//     &.g-input-error {
//         border-color: #E81B1B;
//         label { color: #E81B1B }
//     }

//     input[data-validate-field='tel'] {
//         &::placeholder {
//             transition: .4s;
//             opacity: 0;
//             color: $shoeWax;
//         }
        
//         &:focus {
//             &::placeholder { opacity: 1 }
//         }
//     }
// }

.arrow-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.416vw 0;
    position: relative;

    span {
        font-weight: 400;
        font-size: 1.11vw;
        line-height: 120%;

        width: 100%;
        max-width: fit-content;
        padding-right: 1.3888vw;
    }

    & > div {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;

        svg {
            width: 0.4861vw;
            height: 0.7638vw;
            margin-left: auto;
        }
        
        &::after {
            content: "";
            display: block;

            position: absolute;
            top: 49%;
            right: 0.09vw;

            transform: translateY(-50%);
            transition: 3s ease;

            width: 1vw;
            height: 0.05vw;
            background-color: black;
        }
    }

    &:hover {
        & > div {
            &::after { width: 100% }
        }
    }
}

.fade-in-anim {
    opacity: 0;
    transform: translateY(20%);
    transition: 2.5s cubic-bezier(.04,1.38,.66,1) transform, 3s cubic-bezier(.04,1.38,.66,1) opacity;
            
    &.show {
        transform: initial;
        opacity: 1;
    }
}

.page { 
    position: relative; 
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;

    height: calc(100% - var(--header-height));

    &::-webkit-scrollbar { display: none }
}

.certain-sizes {
    width: 100%;
    height: 100%;
    min-width: calc(100vw - var(--switchbar-width));
}

.lozad--disabled {
    opacity: 0;
    transition: .4s;
}

.loaded { opacity: 1 }