$mainGray: #EFEEEC;
$shoeWax: #2C2C2A;
$cathedral: #ABAAA8;

:root {
    --header-height: 5.55vw;
    --switchbar-width: 5.55vw;
    --switcher-checkbox-height: 1.666vw;
    
    @media (max-width: 500px) {
        --switchbar-width: 12.266vw;
        --header-height: 18.66vw;
    }
}

// 12.266