@import "vars";
@import "mixins";

html { scroll-behavior: smooth }

body {
    font-weight: 400;
    font-size: 20px;
    
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 400;

    height: 100vh;
    overflow: hidden;

    min-width: 320px;
    background-color: $mainGray;

    &::-webkit-scrollbar { display: none }
}

.m-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;

    @media (max-width: 1300px) { 
        overflow: hidden;
        position: fixed;

        .header {
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 50;
            top: 0;

            .menu { display: flex }
        }
    }
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/burger.scss";
@import "./blocks/lang-switcher.scss";
@import "./blocks/services.scss";
@import "./blocks/switchbar.scss";
@import "./blocks/tabs.scss";
@import "./blocks/menu.scss";