@import "vars";
@import "mixins";

html { scroll-behavior: smooth }

body {
    font-weight: 400;
    font-size: 20px;
    
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 400;

    height: 100vh;
    overflow: hidden;

    min-width: 320px;
    background-color: $mainGray;
    position: relative;

    &::-webkit-scrollbar { display: none }
    & > * { z-index: 5 }
    &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;bottom: 0;
        right: 0;left: 0;

        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #E5D4E9 0%, #E4D5EA 100%);

        z-index: 1;
        transition: 2s ease;
        opacity: 0;
    }
 
    &.purple-mood {
        &::after { opacity: 1 }
    }

    &.purple-always-mood {
        &::after { opacity: 1 }
        .menu { background-color: #E5D5EA }
        .menu__switchbar { background-color: #E5D5EA }
    }
}

.m-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;

    @media (max-width: 1300px) { 
        overflow: hidden;
        position: fixed;

        .header {
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 50;
            top: 0;

            .menu { display: flex }
        }
    }
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/burger.scss";
@import "./blocks/lang-switcher.scss";
@import "./blocks/services.scss";
@import "./blocks/switchbar.scss";
@import "./blocks/tabs.scss";
@import "./blocks/menu.scss";
@import "./blocks/about.scss";
@import "./blocks/contacts.scss";
@import "./blocks/navigation-page.scss";
@import "./blocks/arrows.scss";
@import "./blocks/media__slider.scss";
@import "./blocks/select-box.scss";
@import "./blocks/contact-form.scss";
@import "./blocks/team.scss";
@import "./blocks/people.scss";
@import "./blocks/history.scss";
@import "./blocks/cookies.scss";
@import "./blocks/switcher-checkbox.scss";