<aside class="mobile-tab" data-mobile-tab-container="1">
    <div class="mobile-tab__container">
        <div class="mobile-tab__slider swiper">
            <div class="swiper-wrapper">
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="1">
                    <h3>Corporate Governance</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="2">
                    <h3>Capital Transactions / M&A</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="3">
                    <h3>Antimonopoly Regulation</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="4">
                    <h3>Intellectual Property</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="5">
                    <h3>Due Dilligence</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="6">
                    <h3>ForensicTax</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="7">
                    <h3>AuditTransfer</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="8">
                    <h3>PricingTax</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="9">
                    <h3>Disputes</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="10">
                    <h3>Litigation</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="11">
                    <h3>Data Protection</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="12">
                    <h3>AML & Compliance</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="13">
                    <h3>InvestBox</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
                <!-- ITEMS -->
                <div class="services__item-content-products-items swiper-slide" data-mobile-tab="14">
                    <h3>InvestBox</h3>
                    <div class="services__item-content-products-items-info">
                        <main>
                            <p>
                                Korpus Prava offers three subscription service packages that are classified according to the number of legal services and consultations on tax matters. If you have difficulties choosing the best 
                                solution, our experts will help you make an optimaldecision by providing a free consulation.
                            </p>
                        </main>
                        <main>
                            <p>
                                Furthermore, we are prepared to design a personalised programme that is based 
                                on the characteristics of your business,  taking into consideration the specifics 
                                of your company activites.
                            </p>
                            <a href="#">
                                <span>Learn more</span>
                                <svg><use xlink:href="./assets/images/svg/sprite.svg#sliderArrow"></use></svg>
                            </a>
                        </main>
                    </div>
                    <div class="services__item-content-products-items-tags">
                        <button class="g-btn" type="submit" data-second-tab-btn="1"><span>energy</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="2"><span>RETAIL</span></button>
                        <button class="g-btn" type="submit" data-second-tab-btn="3"><span>ENGINEERING</span></button>
                    </div>
                    <div class="services__item-content-products-items-scope">
                        <p class="show open" data-second-tab="1">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer/investor 
                            or current business owners, including in order to enter.
                        </p>
                        <p class="none" data-second-tab="2">
                            Legal and tax due diligence of business standing of electricity and heat generating, sales and service companies for a potential buyer
                        </p>
                        <p class="none" data-second-tab="3">
                            Legal and tax due diligence of n order to enter.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="arrows arrows--mobile-tab">
            <button type="button" class="arrows-item arrows-item--prev arrows-item-mobile-tab--prev"><svg><use xlink:href="./assets/images/svg/sprite.svg#sliderLargeArrow"></use></svg></button>
            <button type="button" class="arrows-item arrows-item--next arrows-item-mobile-tab--next"><svg><use xlink:href="./assets/images/svg/sprite.svg#sliderLargeArrow"></use></svg></button>
        </div>
    </div>
</aside>