<div class="menu">
    <div class="menu__switchbar"></div>
    <div class="menu__container">
        <ul class="menu__list">
            <!-- ITEM -->
            <li class="menu__list-item">
                <main class="">
                    <h1 class="g-title" data-title="ABOUT"></h1>
                    <div class="menu__list-item-links">
                        <ul>
                            <a class="arrow-link" href="./who-we-are.html">
                                <span>Who we are</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                            <a class="arrow-link" href="./history.html">
                                <span>History</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                        </ul>
                        <ul>
                            <a class="arrow-link" href="./awards.html">
                                <span>Awards</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                            <a class="arrow-link" href="./media.html">
                                <span>Media</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                            <a class="arrow-link" href="./contacts.html">
                                <span>Contacts</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                        </ul>
                    </div>
                </main>
            </li>
            <!-- ITEM -->
            <li class="menu__list-item">
                <main class="">
                    <h1 class="g-title" data-title="PEOPLE"></h1>
                    <div class="menu__list-item-links">
                        <ul>
                            <a class="arrow-link" href="./team.html">
                                <span>Team</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                            <a class="arrow-link" href="./career.html">
                                <span>Career</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                        </ul>
                        <ul>
                            <a class="arrow-link" href="./alumni.html">
                                <span>Alumni</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                            <a class="arrow-link" href="#">
                                <span>KPFF</span>
                                <div><svg><use xlink:href="./assets/images/svg/sprite.svg#arrowRight"></use></svg></div>
                            </a>
                        </ul>
                    </div>
                </main>
            </li>
        </ul>

        <div class="menu__footer hide">
            <p>© 2003-2021 korpus Prava. All rights reserved.</p>
            <a href="#" class="g-btn">
                <span>Privacy Policy</span>
            </a>
        </div>
    </div>
</div>