<div class="menu">
    <div class="menu__switchbar"></div>
    <div class="menu__container">
        <ul class="menu__list">
            <!-- ITEM -->
            <li class="menu__list-item">
                <main class="">
                    <h2 data-title="ABOUT"></h2>
                </main>
            </li>
            <!-- ITEM -->
            <li class="menu__list-item">
                <main class="">
                    <h2 data-title="PEOPLE"></h2>
                </main>
            </li>
        </ul>

        <div class="menu__footer hide">
            <p>© 2003-2021 korpus Prava. All rights reserved.</p>
            <a href="#" class="g-btn">
                <span>Privacy Policy</span>
            </a>
        </div>
    </div>
</div>