<div class="second-tab">
    <div class="second-tab__wrapper">
        <div class="second-tab__container">
            <h1 class="g-title" data-title="KP DIGITAL"></h1>
            <ul class="second-tab__table">
                <li class="second-tab__table-item fade-in-anim second-tab__table-item--1">
                    <img src="./assets/images/svg/InvestBox.svg" alt="svg">
                    <h3>InvestBox</h3>
                    <p>
                        Furthermore, we are 
                        prepared to design 
                        a personalised programme 
                        that is based on the 
                        characteristics of your 
                        business, taking into 
                        consideration the specifics 
                        of your company activites. 
                    </p>
                    <a href="#" class="g-btn" type="submit"><span>learn more</span></a>
                </li>
                <li class="second-tab__table-item fade-in-anim second-tab__table-item--2">
                    <img src="./assets/images/svg/you-reg.svg" alt="svg">
                    <h3>YouReg.Tech</h3>
                    <p>
                        Furthermore, we are 
                        prepared to design 
                        a personalised programme 
                        that is based on the 
                        characteristics of your 
                        business, taking into 
                        consideration the specifics 
                        of your company activites. 
                    </p>
                    <a href="#" class="g-btn" type="submit"><span>learn more</span></a>
                </li>
                <li class="second-tab__table-item fade-in-anim second-tab__table-item--3">
                    <img src="./assets/images/svg/InvestBox.svg" alt="png">
                    <h3>EasyRealtyCheck</h3>
                    <p>
                        Furthermore, we are 
                        prepared to design 
                        a personalised programme 
                        that is based on the 
                        characteristics of your 
                        business, taking into 
                        consideration the specifics 
                        of your company activites. 
                    </p>
                    <a href="#" class="g-btn" type="submit"><span>learn more</span></a>
                </li>
                <li class="second-tab__table-item fade-in-anim second-tab__table-item--4">
                    <img src="./assets/images/svg/tax-resident.svg" alt="svg">
                    <h3>Tax Resident</h3>
                    <p>
                        Furthermore, we are 
                        prepared to design 
                        a personalised programme 
                        that is based on the 
                        characteristics of your 
                        business, taking into 
                        consideration the specifics 
                        of your company activites. 
                    </p>
                    <a href="#" class="g-btn" type="submit"><span>learn more</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>