.about {
    // height: calc(100% - var(--header-height) / 2);
    height: 100%;

    main {
        padding-top: 4.44vw;
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) { flex-direction: column }

        p {
            font-weight: 400;
            font-size: 1.111vw;
            line-height: 130%;
            letter-spacing: 0.01em;

            overflow: hidden;

            b {
                text-transform: uppercase;
                font-weight: 400;
                color:#ABAAA8;
            }

            &:not(:last-of-type) { margin-bottom: 2.777vw }

            @media (max-width: 500px) {
                font-size: 4vw;
                &:not(:last-of-type) { margin-bottom: 10.666vw }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 41.66vw;

        & > *:last-child { margin-bottom: 0 }
        @media (max-width: 500px) { max-width: none }

        &:last-child {
            p { max-width: 50vw }   
        }
            
        &-links {
            display: flex;
            align-items: center;
            width: 25vw;
            
            margin-top: 1.8055vw;

            @media (max-width: 500px) {
                width: initial;
            }

            .arrow-link {
                margin-right: 1.38vw;
                div {
                    &::after {
                        transition: initial;
                        width: 100%;
                    }
                }
            }

            ul {
                display: flex;
                a {
                    display: flex;
                    width: 1.666vw;
                    height: 1.666vw;

                    overflow: hidden;
                    &:not(:last-child) { margin-right: 0.555vw }

                    @media (max-width: 500px) {
                        width: 6.4vw;
                        height: 6.4vw;
                    }

                    svg {
                        width: 100%;
                        height: 100%;

                        opacity: 0;
                        transform: translateY(1.666vw);
                        transition: 2.5s cubic-bezier(.04,1.38,.66,1) transform, 4s cubic-bezier(.04,1.38,.66,1) opacity, .5s ease fill;

                        fill: black;
                    }

                    &:hover {
                        svg { fill: #ABAAA8 }
                    }

                    &.show {
                        svg {
                            opacity: 1;
                            transform: initial;
                        }
                    }
                }
            }
        }
    }

    &__skills {
        max-width: 38.1944vw;
        display: flex;
        flex-direction: column;
        
        @media (max-width: 500px) {
            max-width: none;
            margin-bottom: 10.666vw;
        }

        &-item {
            display: grid;
            grid-template-columns: 30% auto;
            grid-gap: 5vw;

            &:not(:last-child) { margin-bottom: 2.77vw }

            @media (max-width: 500px) {
                grid-template-columns: 1fr;
                grid-gap: 2.133vw;

                &:not(:last-child) { margin-bottom: 10.6666vw }
            }

            h4 {
                text-transform: uppercase;
                width: 100%;
                max-width: fit-content;

                font-weight: 400;
                font-size: 1.388vw;
                line-height: 110%;

                @media (max-width: 500px) { font-size: 6vw }
            }

            p {
                @media (max-width: 500px) { font-size: 2.666vw !important }
            }
        }
    }

    &__awards {
        padding-left: 6.944vw;

        @media (max-width: 500px) {
            padding-left: 0;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            grid-gap: 1.66vw 2.0833vw;
            
            padding-top: 4.166vw;
            
            @media (max-width: 500px) {
                padding-top: 9.0666vw;
                grid-template-columns: 1fr;
                grid-gap: 10.666vw;
            }

            li {
                display: flex;

                picture {
                    max-width: 4.722vw;
                    width: 100%;

                    margin: 0.5vw 1.11vw 0 0;
                    
                    @media (max-width: 500px) {
                        margin: 0.5vw 4.26666vw 0 0;
                        max-width: 25.066vw;
                    }

                    img {
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                    }
                }

                span {
                    line-height: 120%;
                    font-size: 0.9722vw;
                            
                    @media (max-width: 500px) {
                        font-size: 2.6666vw;
                        margin-top: 0.5333vw;
                    }
                }
            }
        }
    }
    
    &--awards {
        & main p:not(:last-of-type) { margin-bottom: 6.4vw }

        .about__content {
            margin-bottom: 14.933vw;
            p {
                margin-bottom: 6.4vw;
                &:last-child { margin-bottom: 0 }
            }
        }
    }
    
    &--media {
        .about__content {
            margin-bottom: 14.933vw;
        }
    }
}