.arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    &--media {
        margin-bottom: 1.5277vw;
        @media (max-width: 500px) { margin-bottom: 7.466vw }
    }

    &--mobile-tab {
        padding: 13.333vw 0 8.5333vw;

        .arrows-item {
            transition: .6s ease;

            svg {
                @media (max-width: 500px) {
                    width: 9.866vw;
                    height: 9.866vw;
                }
            }
        }

        .swiper-button-disabled, .arrows-item:disabled {
            opacity: 0;
        }
    }

    &-item {
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 1.111vw;
            height: 1.111vw;

            transition: .6s ease stroke, .6s ease transform;
            stroke: black;

            @media (max-width: 500px) {
                width: 4.266vw;
                height: 4.266vw;
            }
        }

        &:hover {
            svg { transform: translateX(-0.2vw) }
        }

        &--next { transform: rotate(180deg) }
    }    

    .swiper-button-disabled, &-item:disabled {
        svg { stroke: #ABAAA8 }
        cursor: default;

        &:hover {
            svg { transform: initial }
        }
    }
}