:root {
    --lines-burger: 3.333vw;
    --lines-anim: ease;
    
    @media (min-width: 1441px) {
        --lines-burger: 2.5vw;
    }

    @media (max-width: 500px) {
        --lines-burger: 6.4vw;
    }
}

.burger {
    width: var(--lines-burger);
    height: var(--lines-burger);
    
    display: flex;
    position: relative;
    padding: 0;
    
    margin-left: auto;
    background-color: transparent;
    
    @media (max-width: 500px) {
        height: 4.8vw;
    }

    span {
        width: 0;
        max-height: 0.14vw;
        height: 100%;

        transition: .5s var(--lines-anim) width, .5s var(--lines-anim) transform, .5s var(--lines-anim) top;
        margin-left: auto;

        background-color: #2C2C2A;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(1.3194vw);

        &.show { width: var(--lines-burger) }
        &:last-child { transform: translateY(2.0138vw) }

        @media (min-width: 1441px) {
            max-height: 0.15625vw;
            transform: translateY(0.98958vw);

            &:last-child { transform: translateY(1.51041vw) }
        }
            
        @media (max-width: 500px) {
            max-height: 0.4vw;
            transform: translateY(1.333vw);
            &:last-child { transform: translateY(3vw) }
        }
    }
    
    &.isOpen {
        span {
            top: 0.451388vw;
            transform: translateY(1.3194vw) rotate(36.71deg);
            &:last-child { transform: translateY(1.3194vw) rotate(-36.71deg) }

            @media (min-width: 1441px) {
                top: 0.3125vw;
                transform: translateY(0.9895vw) rotate(36.71deg);
                &:last-child { transform: translateY(0.9895vw) rotate(-36.71deg) }
            }
        }
        
        @media (max-width: 500px) {
            span { top: 0.9vw }
        }
    }
}