.contact-form {
    h4 {
        font-weight: 400;
        font-size: 1.388vw;
        line-height: 120%;

        text-transform: uppercase;
        margin-bottom: 5vw;

        @media (max-width: 500px) {
            font-size: 6vw;
            margin-bottom: 8.5333vw;
        }
    }

    &__wrapper-form {
        display: flex;
        flex-direction: column;

        & > *:not(:last-child) { margin-bottom: 1.666vw }
        
        @media (max-width: 500px) {
            & > *:not(:last-child) { margin-bottom: 3.2vw }
        }

        footer {
            @media (max-width: 500px) { margin-top: 10.666vw }
        }

        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2.0833vw;

            margin-bottom: 0.555vw !important;

            @media (max-width: 500px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 3.2vw;

                margin-bottom: 0 !important;
            }
        }
    }

    &-submit {
        margin-left: auto;
        transition: .4s ease;
    }

    &__container {
        opacity: 0;
        transition: .6s ease;

        &.show { opacity: 1 }
    }

    &__thx {
        display: flex;
        flex-direction: column;

        opacity: 0;
        transition: .6s ease;
        min-height: 31vw;

        &.show { opacity: 1 }

        h4 {
            margin-bottom: 0.555vw;
        }
    }
}

.contact-form__wrapper-form-policy {
    display: flex;
    width: 100%;
    
    box-sizing: initial;
    &:not(:last-child) { margin-bottom: 0.6944vw }
    &:last-of-type { margin-bottom: 6vw }

    input[type=checkbox] { display: none }
    
    @media (max-width: 500px) {
        &:not(:last-child) { margin-bottom: 4.26666vw }
        &:last-of-type { margin-bottom: 10.666vw }
    }

    label {
        display: flex;
        align-items: center;
        line-height: 1;
        width: 100%;
        
        @media (max-width: 500px) {
            align-items: initial;
        }

        p { 
            font-size: 0.9722vw;
            color: black;
            line-height: 140%;

            display: initial;
            user-select: none;
            cursor: pointer;
            
            transition: .4s;

            @media (max-width: 500px) {
                font-size: 2.666vw;
            }

            a {
                text-transform: uppercase;
                transition: .4s;
                color: #ABAAA8;

                &:hover { text-decoration: underline }
            }
        }
    }
    
    input[type=checkbox] + label:before {
        content: "";
        border: 0.138vw solid #8D8D8B;
        display: inline-block;

        max-width: 1.1805vw;
        width: 100%;
        height: 1.1805vw;

        margin-right: 0.555vw;
        box-sizing: border-box;
        transition: .4s;
        cursor: pointer;

        background-size: 100% auto;
        background-position: 20% 30%;
        background-repeat: no-repeat;

        @media (max-width: 500px) {
            max-width: 3.7333vw;
            height: 3.7333vw;

            margin-right: 2.1333vw;
            border: 0.5333vw solid #8D8D8B;

            margin-top: 0.53333vw;
        }
    }

    &.policy-error {
        p { color: #C3161C }
        &::before { border-color: #C3161C }
    }

    input[type=checkbox]:checked + label::before {
        background-image: url('./../images/svg/check-form.svg');
        border-color: black;
    }
}
