.lang-switcher {
    margin: auto 0 auto 2.0833vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 1.666vw;
    height: fit-content;

    position: relative;

    @media (min-width: 1441px) {
        margin: auto 0 auto 1.5625vw;
        width: 1.25vw;
    }

    @media (max-width: 500px) {
        margin: auto 0 auto 3.733vw;
        width: 4.8vw;
    }

    &:hover {
        .lang-switcher__btn {
            opacity: 1;
            z-index: 5;
        }

        .lang-switcher__btn--1 { transform: translateY(0) }
        .lang-switcher__btn--3 { transform: translateY(0) }
    }

    &__btn {
        line-height: 100%;
        font-weight: 400;
        font-size: 1.11vw;

        padding: 0;
        background-color: transparent;
        transition: .6s ease opacity, .6s ease transform;

        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: flex;

        user-select: none;
        color: #8F8F8E;
        cursor: pointer;

        width: fit-content;
        height: fit-content;
        
        @media (min-width: 1441px) { font-size: 0.833vw }
        @media (max-width: 500px) { font-size: 3.2vw }

        &.hide { opacity: 0 !important }
        &.zoom { transform: scale(1.2) }

        &:not(.lang-switcher__btn--current) {
            opacity: 0;
            z-index: -1;
        }

        &--current {
            margin: 0.26041vw 0;
            color: black;

            @media (min-width: 1441px) { margin: 0.3472vw 0 }
            @media (max-width: 500px) { margin: 1.3333vw 0 }
        }

        &--1 {
            transform: translateY(0.347222vw);
            @media (min-width: 1441px) { transform: translateY(0.26041vw) }
            @media (max-width: 500px) { transform: translateY(1.3333) }
        }
        &--3 {
            transform: translateY(-0.347222vw);
            @media (min-width: 1441px) { transform: translateY(-0.26041vw) }
            @media (max-width: 500px) { transform: translateY(-1.3333) }
        }
    }
}