.media__slider {
    max-width: 36vw;
    margin-left: 6.66vw !important;

    @media (min-width: 1441px) {
        max-width: 39.166vw;
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    @media (max-width: 500px) {
        max-width: 100%;
        margin-left: 0 !important;   
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: column;

            &:not(:last-child) { margin-bottom: 2.777vw }
            
            @media (min-width: 1441px) {
                &:not(:last-child) { margin-bottom: 2.0833vw }
            }

            a {
                font-weight: 400;
                font-size: 1.11vw;
                line-height: 120%;

                color: #ABAAA8;
                display: block;

                text-transform: uppercase;
                margin-bottom: 0.27vw;

                @media (min-width: 1441px) {
                    font-size: 0.833vw;
                    margin-bottom: 0.20833vw;
                }

                @media (max-width: 500px) {
                    font-size: 4vw;
                    margin-bottom: 2.1333vw;
                }
            }

            h4 {
                font-weight: 400;
                font-size: 1.38vw;
                line-height: 120%;

                margin-bottom: 0.833vw;
                text-transform: initial;

                @media (min-width: 1441px) {
                    font-size: 1.04166vw;
                    margin-bottom: 0.625vw;
                }

                @media (max-width: 500px) {
                    font-size: 5.333vw;
                    margin-bottom: 4.266vw;
                }
            }

            p {
                font-weight: 400;
                font-size: 1.11vw;
                line-height: 120%;
                letter-spacing: 0.01em;

                @media (min-width: 1441px) { font-size: 0.833vw }
                @media (max-width: 500px) { font-size: 4vw }
            }
        }
    }
}
