.navigation-page {
    display: flex;
    align-items: center;
    margin-top: auto;

    padding-bottom: 2.22vw;
    height: 1.11vw;

    @media (min-width: 1441px) {
        padding-bottom: 1.66666vw;
        height: 0.8333vw;
    }

    @media (max-width: 500px) {
        padding: 14.93vw 0 8.5333vw;
        height: 5.33vw;
    }

    a {
        display: flex;
        align-items: center;
        width: fit-content;
        
        @media (max-width: 500px) {
            &:last-child { margin-left: auto }
        }
        
        @media (max-width: 500px) {
            &:first-child {
                margin-right: auto;
                margin-left: initial !important;
            }
        }

        span {
            font-size: 1.11vw;
            white-space: nowrap;

            line-height: 140%;
            transition: .6s ease color;

            @media (min-width: 1441px) { font-size: 0.8333vw }
            @media (max-width: 500px) { font-size: 4vw }
        }

        svg {
            width: 0.8333vw;
            height: 0.7638vw;

            margin-left: 1.11vw;
            transition: .6s ease stroke;
            stroke: black;

            @media (min-width: 1441px) {
                width: 0.625vw;
                height: 0.5729vw;
    
                margin-left: 0.8333vw;
            }

            @media (max-width: 500px) {
                width: 3.2vw;
                height: 2.666vw;
            }
        }

        &:hover {
            span { color: #ABAAA8 }
            svg { stroke: #ABAAA8 }
        }

        &:not(:last-child) {
            flex-direction: row-reverse;
            margin-right: 2.222vw;

            svg {
                margin-left: initial;
                margin-right: 1.11vw;
                transform: rotate(180deg);
            }

            @media (min-width: 1441px) {
                margin-right: 1.6666vw;
                svg { margin-right: 0.83333vw }
            }
        }
    }
}