.people {
    height: 100%;
    main {
        padding-top: 4.44vw;
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            padding-top: 8.5333vw;
            flex-direction: column;
            justify-content: start;
        }
    }

    &__content {
        max-width: 39.8611vw;
        display: flex;
        flex-direction: column;
        
        & > * { margin-bottom: 0 }

        p {
            font-weight: 400;
            font-size: 1.11vw;
            line-height: 120%;
            letter-spacing: 0.01em;

            margin-bottom: 2.222vw;

            &:last-child { margin-bottom: 2.777vw }
            
            @media (max-width: 500px) {
                font-size: 4.2666vw;
                margin-bottom: 8.5333vw;

                &:last-child { margin-bottom: 10.666vw }
                max-width: none;
            }
        }
                    
        @media (max-width: 500px) {
            max-width: none;
        }

        span {
            font-weight: 400;
            font-size: 1.11vw;
            line-height: 120%;
            letter-spacing: 0.01em;

            margin-bottom: 1.111vw;
            &:last-child { margin-bottom: 0 }

            @media (max-width: 500px) {
                font-size: 4.2666vw;
                margin-bottom: 4.2666vw;
            }

            a {
                color: $cathedral;
                text-transform: uppercase;

                transition: .5s ease color;

                &:hover {
                    color: #191919;
                }
            }
        }
    }

    &__quotes {
        max-width: 37.7777vw;
        width: 100%;

        @media (max-width: 500px) {
            max-width: none;
            margin-bottom: 14.933vw;
        }

        ul {
            display: grid;
            grid-gap: 2.222vw;
            margin-top: 4.1666vw;
            
            @media (max-width: 500px) {
                grid-gap: 2.133vw;
                margin-top: 10.666vw;
            }
            
            li {
                display: flex;
                flex-direction: column;

                p, span {
                    font-weight: 400;
                    font-size: 1.111vw;
                    line-height: 120%;

                    @media (max-width: 500px) {
                        font-size: 4.2666vw;
                    }
                }

                p {
                    margin-bottom: 1.111vw;
                    @media (max-width: 500px) {
                        margin-bottom: 4.2666vw;
                    }
                }

                span {
                    margin-left: auto;
                }

                svg {
                    width: 1.388vw;
                    height: 1.111vw;

                    margin-bottom: 0.555vw;

                    @media (max-width: 500px) {
                        width: 6.4vw;
                        height: 4.8vw;

                        margin-bottom: 3.2vw;
                    }

                    &:last-child {
                        transform: rotate(180deg);
                        margin-top: 0.555vw;
                        margin-bottom: 0;

                        margin-left: auto;
                        
                        @media (max-width: 500px) {
                            width: 6.4vw;
                            height: 4.8vw;

                            margin-top: 3.2vw;
                        }
                    }
                }
            }
        }
    }
}