.services {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    transition: 2s ease;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        border-bottom: 0.138vw solid black;
        box-sizing: border-box;

        // height: 14.652vw;
        height: 0;

        display: flex;
        flex-direction: column;
        text-align: left;

        overflow: hidden;
        user-select: none;
        display: flex;

        position: absolute;
        top: -0.2vw;
        width: 100%;

        transition: cubic-bezier(.04,.88,.51,1) all;
        transition-duration: 2s;
        
        @media (max-width: 500px) {
            padding: 0;
            border-bottom: 0.266vw solid black;
        }

        &:disabled { color: inherit }

        & > main {
            width: 100%;
            height: fit-content;

            display: flex; 
            flex-direction: column;
            margin-top: auto;

            position: relative;

            header {
                display: flex;
                flex-direction: column;

                padding: 0 0 4.7916vw 5.55vw;
                cursor: pointer;

                h1 {
                    transition: .5s ease;
                    margin-top: 2.22vw;
                    
                    @media (max-width: 500px) {
                        margin-top: 0;
                        &:not(:last-child) { margin-bottom: 1.333vw }
                    }
                }

                @media (max-width: 500px) {
                    padding: 4.2666vw 6.4vw 4.7916vw 6.4vw;
                    height: 44vw;
                    box-sizing: border-box;
                }
            }
        }

        &.active {            
            .services__item-content {
                opacity: 1;
                height: 40.416vw;

                @media (max-width: 500px) { height: fit-content }
            }
            .services__item-content-links { opacity: 1 }
            .services__item-content-products { opacity: 1 }
            .services__item-circle-title { 
                &:hover { opacity: 0 }
            }
        }

        .services__item-circle-title {
            position: absolute;
            bottom: 1.8055vw;
            right: 3.125vw;

            width: 11.11vw;
            height: 11.11vw;
            font-size: 1.25vw;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: .6s ease opacity, .6s linear transform;
            opacity: 0;

            &:last-child { font-size: 1vw }

            @media (min-width: 500px) { animation: infinitySpining 6s linear infinite }

            @media (max-width: 500px) {
                bottom: 24.533vw;

                width: 14.399vw;
                height: 14.399vw;

                font-size: 1.3333vw;

                &:last-child { font-size: 1vw }
            }
        }

        &-content {
            height: 0;
            opacity: 0;

            transition: 2s ease height, 2s ease padding, .5s ease transform;
            overflow: hidden;

            padding: 0 3.333vw 0 5.55vw;

            display: flex;
            justify-content: space-between;

            @media (max-width: 500px) { padding: 0 6.4vw 0 6.4vw }

            &-links {
                display: flex;
                flex-direction: column;
                
                width: 100%;
                max-width: 34.722vw;
                height: fit-content;

                opacity: 0;
                transition: 2s opacity;

                span { white-space: nowrap }

                @media (max-width: 500px) {
                    max-width: none;
                    padding-bottom: 23.46vw;
                }
        
                .arrow-link {
                    border: 0.138vw solid #8D8D8B;
                    border-right: none;border-left: none;
        
                    &:not(:last-child) { border-bottom: none }

                    @media (max-width: 500px) {
                        border: 0.2666vw solid #8D8D8B;
                        border-right: none;border-left: none;
                    }
                }
            }

            &-products {
                max-width: 37.8472vw;
                width: 100%;

                opacity: 0;
                transition: 2s opacity;

                @media (max-width: 500px) {
                    display: none;
                }

                &-items {
                    display: flex;
                    flex-direction: column;

                    opacity: 0;
                    transition: .6s ease;
        
                    &.show { opacity: 1 }
                    & > *:last-child { margin-bottom: 0 }

                    h3 {
                        font-weight: 400;
                        font-size: 1.59722vw;
                        line-height: 130%;

                        margin-bottom: 2.222vw;

                        @media (max-width: 500px) {
                            font-size: 4vw;
                            margin-bottom: 10.666vw;
                        }
                    }

                    p, span {
                        font-weight: 400;
                        font-size: 1.111vw;
                        line-height: 144%;
                        
                        @media (max-width: 500px) { font-size: 4.266vw }
                    }

                    p {
                        &:not(:last-of-type) { margin-bottom: 1.111vw }
                        @media (max-width: 500px) {
                            &:not(:last-of-type) { margin-bottom: 4.266vw }
                        }
                    }

                    &-info {
                        display: grid;
                        grid-template-columns: 1fr 0.8fr;
                        grid-gap: 3.3333vw;

                        width: 100%;
                        margin-bottom: 5vw;

                        @media (max-width: 500px) {
                            grid-template-columns: 1fr;
                            grid-gap: 3.3333vw;
                        }

                        main {
                            display: flex;
                            flex-direction: column;

                            & > *:last-child { margin-bottom: 0 }

                            p {
                                &:not(:last-of-type) { margin-bottom: 1.111vw }
                            }

                            &:last-child {
                                @media (max-width: 500px) { display: none }
                            }
                            
                            a {
                                padding: 0;
                                display: flex;
                                align-items: center;

                                margin-top: auto;

                                span { margin-right: 0.6944vw }
                                svg {
                                    max-width: 0.9722vw;
                                    width: 100%;
                                    height: 0.9722vw;

                                    transition: .3s ease;
                                    stroke: black;
                                    fill: black;

                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    &-tags {
                        display: flex;
                        align-items: center;

                        flex-wrap: wrap;
                        margin-bottom: 1.111vw;

                        .g-btn {
                            &:not(:last-child) { margin-right: 1.111vw }
                            span {
                                font-size: 0.833vw;
                                padding: 0.2vw 0.55vw 0;

                                @media (max-width: 500px) {
                                    font-size: 2.6666vw;
                                    padding: .4vw 2.1333vw 0;
                                }
                            }
                            margin-top: 0;
                            &.active { color: #ABAAA8 }

                            @media (max-width: 500px) {
                                &:not(:last-child) { margin-right: 4.2666vw }
                            }
                        }

                        @media (max-width: 500px) { margin-bottom: 4.2666vw }
                    }

                    &-scope {
                        p {
                            opacity: 0;
                            transition: .6s ease;
             
                            &.show { opacity: 1 }
                        }
                    }
                }
            }
        }

        &--cirlce-item {
            @media (min-width: 500px) {
                &:not(.active):hover {
                    .services__item-circle-title { opacity: 1 }
                }
            }
        }

        @keyframes infinitySpining {
            0% { transform: rotate(0deg) }
            50% { transform: rotate(180deg) }
            100% { transform: rotate(360deg) }
        }
        
        &-paragraph {
            height: 1.3194vw;
            overflow: hidden;

            p {
                font-weight: 400;
                font-size: 1.11vw;
                line-height: 1.3194vw;
                transition: 1s ease;

                transform: translateY(200%);

                @media (max-width: 500px) {
                    font-size: 3.2vw;
                    line-height: 3.2vw;
                }
            }

            @media (max-width: 500px) { height: 3.6vw }

            &.show {
                p { transform: translateY(0) }
            }
        }

        &--ready {
            height: fit-content;
            position: relative;
            top: initial;

            transition: 3s ease;

            main { margin-top: initial }
            .services__item-content { opacity: 1 }

            .services__item-circle-title {
                bottom: initial;
                position: absolute;

                top: 1.73611vw;
                
                @media (max-width: 500px) {
                    opacity: 1;
                    top: 2vw;
                }
            }
        }
    }

    &__cookies {
        width: 100%;
        height: 100%;
        min-height: 13.0555vw;
        
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        @media (max-width: 500px) { min-height: 54.400vw }

        &-container {
            display: flex;
            flex-direction: column;

            height: 100%;

            transform: translateY(100%);
            transition: 1.5s ease opacity, 1.1s ease transform;
            opacity: 1;
            
            border-top: 0.138vw solid black;
            border-bottom: 0.138vw solid black;

            padding: 2.777vw 5.555vw 0;
            box-sizing: border-box;
            background: linear-gradient(90deg, #E5D4E9 0%, #E4D5EA 100%);

            @media (max-width: 500px) {
                padding: 8.5333vw 6.4vw;
                            
                border-top: 0.266vw solid black;
                border-bottom: 0.266vw solid black;
            }
                
            p {
                max-width: 47.083vw;
                font-size: 1.1111vw;
                line-height: 133%;
    
                margin-bottom: 2.222vw;

                @media (max-width: 500px) {
                    max-width: 64vw;
                    font-size: 2.666vw;

                    margin-bottom: 6.4vw;
                }
            }
        }

        &-btns {
            display: flex;
            .g-btn {
                &:not(:last-child) { margin-right: 1.111vw }
                &.active { color: #ABAAA8 }
                @media (max-width: 500px) { &:not(:last-child) { margin-right: 4.2666vw } }
            }
                
            @media (max-width: 500px) { margin-top: auto }
        }

        &.show {
            .services__cookies-container { transform: translateY(0) }
        }
    }
}