.services {
    display: flex;
    height: 100%;

    transition: 2s ease transform;

    position: absolute;
    right: 0;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        border-bottom: 0.138vw solid #8D8D8B;
        box-sizing: border-box;

        // height: 14.652vw;
        height: 0;
        padding: 0 0 0 5.55vw;

        overflow: hidden;
        user-select: none;
        display: flex;

        position: absolute;
        top: -0.2vw;
        width: 100%;

        transition: cubic-bezier(.04,.88,.51,1) all;
        transition-duration: 2s;
        
        main {
            width: calc(100% - var(--switchbar-width));
            height: fit-content;

            display: flex; 
            flex-direction: column;
            margin-top: auto;

            padding: 0 0 3.88vw 0;
            position: relative;
        }

        .services__item-circle-title {
            position: absolute;
            bottom: 1.8055vw;
            right: 3.125vw;

            width: 11.11vw;
            height: 11.11vw;
            font-size: 1.25vw;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: .6s ease opacity, .6s linear transform;
            animation: infinitySpining 6s linear infinite;
            opacity: 0;
        }

        &--cirlce-item {
            &:hover {
                .services__item-circle-title { opacity: 1 }
            }
        }

        @keyframes infinitySpining {
            0% { transform: rotate(0deg) }
            50% { transform: rotate(180deg) }
            100% { transform: rotate(360deg) }
        }
        
        h1 {
            margin-top: 2.22vw;
        }
        
        &-paragraph {
            height: 1.3194vw;
            overflow: hidden;

            p {
                font-weight: 400;
                font-size: 1.11vw;
                line-height: 1.3194vw;
                transition: 1.5s cubic-bezier(.04,1.38,.66,1);

                transform: translateY(200%);
            }

            &.show {
                p { transform: translateY(0) }
            }
        }

    }
}