.switchbar {
    background: #1D1D1B;
    color: white;

    height: calc(100vh - var(--header-height));
    width: var(--switchbar-width);
    min-width: var(--switchbar-width);

    box-sizing: border-box;
    border-right: 0.138vw solid #1D1D1B;
    border-left: 0.138vw solid #1D1D1B;
    
    cursor: pointer;
    position: relative;
    z-index: 25;

    @media (max-width: 500px) {
        border-right: 0.266vw solid #1D1D1B;
        border-left: 0.266vw solid #1D1D1B;
    }

    &.active {
        border-color: black;
        background: linear-gradient(90deg, #E5D4E9 0%, #E4D5EA 100%);

        .switchbar__logo {
            background-color: black;
            svg {
                fill: white;
                stroke: white;
            }
        }
    }

    &:not(.disabled) {
        &:hover {
            border-color: black;
            background: linear-gradient(90deg, #E5D4E9 0%, #E4D5EA 100%);
    
            .switchbar__logo {
                background-color: black;
                svg {
                    fill: white;
                    stroke: white;
                }
            }
        }
    }


    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 0;
    }

    &__logo {
        background-color: #EEEDEB;
        border-radius: 6.944vw;

        display: flex;

        padding: 0.9027vw 0.625vw 0.694vw 0.7638vw;
        width: fit-content;
        height: fit-content;

        @media (max-width: 500px) {
            padding: 2.1333vw 1.7vw 2.1333vw 1.9vw;
        }
        
        svg {
            width: 1.11vw;
            height: 2.777vw;

            fill: black;
            stroke: black;

            @media (max-width: 500px) {
                width: 2.1333vw;
                height: 6.133vw;
            }
        }
    }
}