
.first-tab {
    width: 100%;
    height: 100%;

    display: flex;
    position: relative;
    overflow: hidden;
    // min-width: calc(100vw - var(--switchbar-width));
    transition: 2.4s ease all;
    top: 0;

    border-top: 0.138vw solid black;
    padding-top: var(--header-height);
    height: 100%;

    box-sizing: border-box;

    @media (min-width: 1441px) { border-top: 0.104166vw solid black }
    @media (max-width: 500px) { border-top: 0.2666vw solid black }

    &.hide {
        width: 0;
        min-width: 0;
    }

    .scroll-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        transition: .8s ease;
    }
}

.second-tab {
    width: 0;
    position: relative;
    z-index: 25;

    overflow: initial !important;

    padding-top: var(--header-height);
    height: 100%;

    .scroll-content {
        display: flex;
        flex-direction: column;
        height: fit-content;

        transition: .8s ease
    }

    &__wrapper {
        width: calc(100vw - var(--switchbar-width));
        height: calc(100vh - var(--header-height));

        background: linear-gradient(90deg, #E5D4E9 0%, #E4D5EA 100%);
    }

    &__container {
        width: calc(100vw - var(--switchbar-width));
        height: fit-content;

        box-sizing: border-box;
        position: absolute;
        left: 0;

        padding: 2.222vw 4.7222vw 9.58333vw;
            
        @media (min-width: 1441px) { padding: 1.6666vw 3.54166vw 7.18749vw }
        @media (max-width: 500px) { padding: 4.8vw 0 10.666vw 10.666vw }

        h1 {
            width: fit-content;
            margin: 0 0 6.597222vw;
            
            @media (min-width: 1441px) { margin: 0 0 10.416vw }
            @media (max-width: 500px) { margin: 0 0 30.666vw }
        }
    }

    &__table {
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            &::-webkit-scrollbar { display: none }
        }

        &-item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3.125vw auto 17.6388vw auto;
            
            max-width: 15.0694vw;

            @media (min-width: 1441px) {
                grid-template-rows: 2.34375vw auto 13.2291vw auto;
                max-width: 11.30208vw;
            }

            @media (max-width: 500px) {
                min-width: 53.866vw;
                grid-template-rows: 8.7999vw auto 55.466vw auto;
                margin-right: 10.666vw;

                &:last-child { margin-right: 21.33vw }
            }

            .g-btn {
                &::before, &::after { margin-left: initial }
            }

            img {
                max-width: 100%;
                width: auto;
                height: auto;

                margin: auto 0 auto;
            }

            h3 {
                font-weight: 400;
                font-size: 1.5972vw;
                line-height: 130%;

                margin: 1.111vw 0 2.7083vw;
                
                @media (min-width: 1441px) {
                    font-size: 1.19791vw;
                    margin: 0.8333vw 0 2.03125vw;
                }
                
                @media (max-width: 500px) {
                    font-size: 4vw;
                    margin: 4.266vw 0 4.266vw;
                }
            }

            p {
                font-weight: 400;
                font-size: 1.111vw;
                line-height: 140%;

                overflow: hidden;
                margin-bottom: 2vw;

                @media (min-width: 1441px) {
                    font-size: 0.8333vw;
                    margin-bottom: 1.510416vw;
                }

                @media (max-width: 500px) {
                    font-size: 4vw;
                    margin-bottom: 4vw;
                }
            }

            &--1 {
                img {
                    width: 4.5138vw;
                    height: 0.6944vw;

                    @media (min-width: 1441px) {
                        width: 3.385416vw;
                        height: 0.52083vw;
                    }
                    
                    @media (max-width: 500px) {
                        width: 14.399vw;
                        height: 2.133vw;
                    }
                }
            }

            &--2 {
                img {
                    width: 5.625vw;
                    height: 1.18055vw;

                    @media (min-width: 1441px) {
                        width: 4.21875vw;
                        height: 0.88541vw;
                    }

                    @media (max-width: 500px) {
                        width: 16.8vw;
                        height: 3.733vw;
                    }
                }
            }
            
            &--3 {
                img {
                    width: 10.833vw;
                    height: auto;
                    
                    @media (min-width: 1441px) { width: 8.125vw }

                    @media (max-width: 500px) {
                        width: 32vw;
                        height: auto;
                    }
                }
            }

            &--4 {
                img {
                    width: 2.222vw;
                    height: 1.31944vw;

                    @media (min-width: 1441px) {
                        width: 1.6666vw;
                        height: 0.98958vw;
                    }

                    @media (max-width: 500px) {
                        width: 7.466vw;
                        height: 4.533vw;
                    }
                }
            }
        }
    }
}

.full-h {
    .scroll-content { height: 100% }
}