.team {
    height: calc(100% - var(--header-height) / 2);

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            @media (max-width: 500px) { margin-bottom: 8vw }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            max-width: 37.777vw;
            grid-gap: 1.111vw;
            
            @media (min-width: 1441px) {
                margin-bottom: auto;
                max-width: 39.166vw;
                grid-gap: 0.833vw;
            }

            .g-btn {
                margin-left: 0;
                span {
                    font-size: 0.833vw;
                    padding: .2vw 0.55vw 0;

                    @media (min-width: 1441px) {
                        font-size: 0.625vw;
                        padding: 0.15625vw 0.41666vw 0;
                    }

                    @media (max-width: 500px) {
                        font-size: 2.666vw;
                        padding: 0.6vw 1.6vw 0;
                    }
                }
                &::after, &::before { margin-left: 0 }
                &.active { color: $cathedral }
                @media (max-width: 500px) {
                    margin-bottom: 2.666vw;
                    &:not(:last-child) { margin-right: 4.2666vw }
                }
            }

            @media (max-width: 500px) { max-width: none }
        }

        @media (max-width: 500px) {
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }
    }

    main {
        padding-top: 4.44vw;
        display: flex;
        justify-content: space-between;
        height: 100%;

        @media (min-width: 1441px) { padding-top: 3.333vw }
    }

    &__links {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        max-width: 27.083vw;
        height: fit-content;

        .arrow-link {
            border: 0.138vw solid black;
            border-right: none;border-left: none;

            &:not(:last-child) { border-bottom: none }

            @media (min-width: 1441px) {
                border: 0.104166vw solid black;
                border-right: none;border-left: none;
            }

            @media (max-width: 500px) {
                border: 0.2666vw solid black;
                border-right: none;border-left: none;
            }
        }

        @media (min-width: 1441px) { max-width: 21.875vw }
        @media (max-width: 500px) { max-width: none }
    }

    &__content {
        display: flex;
        flex-direction: column;

        max-width: 39.583vw;
        min-height: 39.861vw;

        @media (min-width: 1441px) {
            max-width: 39.166vw;
            min-height: 29.8958vw;
        }
        
        @media (max-width: 500px) { display: none }

        &-employees {
            display: flex;
            flex-direction: column;

            opacity: 0;
            transition: .6s ease;

            &.show { opacity: 1 }

            h4 {
                margin-bottom: 0.34722vw;
                
                @media (min-width: 1441px) { margin-bottom: 0.26041vw }
                @media (max-width: 500px) { margin-bottom: 1.333vw }
            }

            &-link {
                width: fit-content;
                display: flex;
                margin: 0 0 0.55555vw -0.486111vw;
                
                @media (min-width: 1441px) {
                    margin: 0 0 0.41666vw -0.364583vw;
                }

                @media (max-width: 500px) {
                    margin: 0 0 2.1333vw -1.8666vw;
                }

                svg {
                    width: 2.36111vw;
                    height: 2.36111vw;

                    @media (min-width: 1441px) {
                        width: 1.770833vw;
                        height: 1.770833vw;
                    }
                    
                    @media (max-width: 500px) {
                        width: 8vw;
                        height: 8vw;
                    }

                    transition: .4s;
                    fill: black;
                }

                &:hover {
                    svg { fill: #ABAAA8 }
                }
            }

            &-position {
                font-weight: 400;
                font-size: 1.111vw;
                line-height: 120%;

                color: #ABAAA8;

                @media (min-width: 1441px) {
                    font-size: 0.8333vw;
                }

                @media (max-width: 500px) {
                   font-size: 4.2666vw;
                }
            }

            &-wrapper {
                padding-top: 3.1944vw;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1.111vw;
                
                @media (min-width: 1441px) {
                    padding-top: 2.3958vw;
                    grid-gap: 0.83333vw;
                }

                @media (max-width: 500px) {
                    padding-top: 8.533vw;
                    display: flex;
                    flex-direction: column;
                    grid-gap: initial;
                }

                &-column {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    & > *:first-child {
                        margin-top: 0;
                        width: 19.861vw;
                    }
                    
                    @media (min-width: 1441px) {
                        width: initial;
                    }

                    @media (max-width: 500px) {
                        width: initial;
                        &:first-child { margin: 0 0 8.533vw 0 }
                        & > *:first-child { width: initial }
                    }

                    &-mail {
                        padding-top: 2.08333vw;
                        margin-top: auto;
                        
                        @media (max-width: 500px) { padding-top: 5.3333vw }
                    }
                }
                
                p {
                    font-weight: 400;
                    font-size: 1.111vw;
                    line-height: 133%;

                    &:not(:last-of-type) { margin-bottom: 1.111vw }

                    @media (min-width: 1441px) {
                        font-size: 0.8333vw;
                        &:not(:last-of-type) { margin-bottom: 0.8333vw }
                    }
                    
                    @media (max-width: 500px) {
                        font-size: 4vw;
                        &:not(:last-of-type) { margin-bottom: 8.533vw }
                    }
                }

                img {
                    width: 100%;
                    height: fit-content;

                    margin-top: 3.194vw;
            
                    @media (min-width: 1441px) { margin-top: 2.3958vw }
                    @media (max-width: 500px) { margin-top: 10.666vw }
                }
            }
        }
    }
}