<header class="header">
    <div class="header__container">
        <a href="./index.html" class="header__logo"><img src="./assets/images/svg/logo-small.svg" alt="logo"></a>
        <button class="burger" aria-label="Burger menu">
            <span></span>
            <span></span>
        </button>
        <form action="/" data-language-switcher="en" class="lang-switcher">
            <button type="button" data-language="ru" class="lang-switcher__btn">ru</button>
            <button type="button" data-language="en" class="lang-switcher__btn">en</button>
        </form>
    </div>
</header>