<header class="header">
    <div class="header__container">
        <a href="./index.html" class="header__logo"><img src="./assets/images/svg/logo-small.svg" alt="logo"></a>
        <button class="burger burger--menu" aria-label="Burger menu">
            <span></span>
            <span></span>
        </button>
        <form action="/" data-language-switcher class="lang-switcher">
            <a type="button" data-language="ru" class="lang-switcher__btn lang-switcher__btn--1">ru</a>
            <button type="button" data-language="en" class="lang-switcher__btn lang-switcher__btn--current">en</button>
            <button type="button" data-language="ch" class="lang-switcher__btn lang-switcher__btn--3">ch</button>
        </form>
    </div>
</header>