.header {
    padding: 0 2.0833vw 0 5.55vw;
    border-bottom: 0.138vw solid black;
    
    height: var(--header-height);
    position: relative;
    z-index: 50;

    background-color: $mainGray;

    @media (max-width: 500px) {
        padding: 0 3.733vw 0 6.4vw;
        border-bottom: 0.266vw solid black;
    }

    &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;bottom: 0;
        right: 0;left: 0;

        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #E5D4E9 0%, #E4D5EA 100%);

        z-index: 1;
        transition: 2s ease;
        opacity: 0;
    }
    
    &__container {
        display: flex;
        align-items: center;
        
        height: 100%;
        & > * { z-index: 5 }
    }

    &__logo {
        width: fit-content;
        height: fit-content;

        display: flex;

        img {
            width: 6.041vw;
            height: 2.8472vw;

            @media (max-width: 500px) {
                width: 16.8vw;
                height: 7.7333vw;
            }
        }
    }
}