.header {
    padding: 0 2.0833vw 0 5.55vw;
    border-bottom: 0.138vw solid #8D8D8B;
    
    height: var(--header-height);
    position: relative;
    z-index: 50;

    @media (max-width: 500px) {
        padding: 0 3.733vw 0 6.4vw;
    }
    
    &__container {
        display: flex;
        align-items: center;
        
        height: 100%;
    }

    &__logo {
        width: fit-content;
        height: fit-content;

        display: flex;

        img {
            width: 6.041vw;
            height: 2.8472vw;

            @media (max-width: 500px) {
                width: 16.8vw;
                height: 7.7333vw;
            }
        }
    }
}