
<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>
<body class="">
    
    {{> header }}

    {{> menu }}

    <div id="page" class="page page--main">

        <div class="first-tab">

            {{> body }}

        </div>

        <div class="services__cookies none">
            <div class="services__cookies-container">
                <p>
                    We use cookies to ensure that we give you the best personalized experience on our website. 
                    See our Privacy Policy to learn more about cookies
                </p>
                <p class="show__500px">See our Privacy Policy to learn more about cookies.</p>
                <div class="services__cookies-btns">
                    <button class="g-btn cookies-btn cookies-accept" type="submit" data-second-tab-btn="1"><span>Accept all</span></button>
                    <button class="g-btn cookies-btn cookies-decline" type="submit" data-second-tab-btn="1"><span>decline all</span></button>
                    <a href="./cookies.html" class="g-btn" type="submit" data-second-tab-btn="1"><span>MANAGE</span></a>
                </div>
            </div>
        </div>

        {{> main-mb-tab-first }}

        {{> main-mb-tab-second }}

        {{> main-mb-tab-third }}
    
        {{> switchbar }}

        {{> second-tab }}

    </div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.7.4/smooth-scrollbar.js" integrity="sha512-s+Za9YjKdWb7RODdRba1tjg+6RqPPnB+c7mQywwtdvn59eZYNI53pLOsTp1M7dkznKcWw45tq6xAHh/i1kvL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.2/imask.min.js" integrity="sha512-l0grYOI8XZga5TajPOiqLrQVCKrdh+k0QSEtS+cpJlNeI8Nu9GOhsVaFyFQuPQfYp02GnhsyHqkPR7P7BTKYAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>
