<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="">
    
    {{> header }}

    {{> menu }}

    <div id="page" class="page">

        <div class="first-tab">

            {{> body }}

        </div>
    
        {{> switchbar }}

        {{> second-tab }}

    </div>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.7.4/smooth-scrollbar.js" integrity="sha512-s+Za9YjKdWb7RODdRba1tjg+6RqPPnB+c7mQywwtdvn59eZYNI53pLOsTp1M7dkznKcWw45tq6xAHh/i1kvL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>
